[global_config]
  borderless = True
  tab_position = hidden
  title_hide_sizetext = True
  inactive_color_offset = 1.0
  suppress_multiple_term_dialog = True
  title_use_system_font = False
[keybindings]
  zoom_in = None
  zoom_out = None
  zoom_normal = None
  new_tab = None
  cycle_next = None
  cycle_prev = None
  go_next = None
  go_prev = None
  go_up = None
  go_down = None
  go_left = None
  go_right = None
  rotate_cw = None
  rotate_ccw = None
  split_horiz = None
  split_vert = None
  close_term = None
  toggle_scrollbar = None
  search = None
  close_window = None
  resize_up = None
  resize_down = None
  resize_left = None
  resize_right = None
  move_tab_right = None
  move_tab_left = None
  toggle_zoom = None
  scaled_zoom = None
  next_tab = None
  prev_tab = None
  switch_to_tab_1 = None
  full_screen = None
  reset = None
  reset_clear = None
  hide_window = None
  group_all = None
  ungroup_all = None
  group_tab = None
  ungroup_tab = None
  new_window = None
  new_terminator = None
  insert_number = None
  insert_padded = None
  edit_window_title = None
  layout_launcher = None
  help = None
[profiles]
  [[default]]
    background_color = "#282a36"
    cursor_color = "#f8f8f2"
    font = Liberation Mono 12
    foreground_color = "#f8f8f2"
    show_titlebar = False
    scrollbar_position = hidden
    palette = "#262626:#e356a7:#42e66c:#e4f34a:#9b6bdf:#e64747:#75d7ec:#efa554:#7a7a7a:#ff79c6:#50fa7b:#f1fa8c:#bd93f9:#ff5555:#8be9fd:#ffb86c"
    use_system_font = False
    background_image = None
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
